body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: 'Roboto', sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  padding: 20px;
  background:pink;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.display {
  grid-column: 1 / -1;
  text-align: right;
  padding: 15px;
  font-size: 2em;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #e0e0e0;
}

#clear {
  background: #f44336;
  color: #fff;
}

#backspace {
  background: #ff9800;
  color: #fff;
}

#equals {
  background: #4caf50;
  color: #fff;
  grid-column: 4 / span 1;
}

#add,
#subtract,
#multiply,
#divide {
  background: #3f51b5;
  color: #fff;
}
